In [29]:
import pandas as pd
import functions
from nltk.probability import FreqDist
import nltk
from nltk.tokenize import word_tokenize

In [30]:
fakenews = pd.read_csv("../Data/Fake.csv.zip", compression = "zip")
fakenews.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [31]:
truenews = pd.read_csv("../Data/True.csv.zip", compression = "zip")
truenews.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [32]:
truenews['label']=1
truenews.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [33]:
fakenews['label']=0
fakenews.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [34]:
merged_df = pd.concat([fakenews, truenews], axis =0 )
merged_df.head(10)

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [35]:
merged_df=merged_df.drop(['title','subject', 'date'], axis=1)

In [36]:
merged_df=merged_df.sample(frac=1)

In [37]:
merged_df.reset_index(inplace=True)

In [38]:
merged_df.drop(['index'], axis=1, inplace=True)
merged_df.head()

                                                text  label
0  COX S BAZAR/YANGON (Reuters) - Hungry, destitu...      1
1  The Washington Post reported: The patriarchs o...      0
2  ERBIL, Iraq (Reuters) - Iraqi Kurdish leader J...      1
3  If you live in Michigan, you know about the co...      0
4  LONDON (Reuters) - London s ambulance service ...      1

In [39]:
merged_df['text_processed']=merged_df['text'].apply(functions.clean_up)

In [40]:
merged_df['text_processed']=merged_df['text_processed'].apply(functions.tokenize)

In [41]:
merged_df['text_processed']=merged_df['text_processed'].apply(functions.stem_and_lemmatize)
#6 minutes

In [23]:
from nltk.corpus import stopwords
stop_words = list(stopwords.words('english'))

In [25]:
merged_df['text_processed']=merged_df['text_processed'].apply(functions.remove_stopwords)

In [26]:
merged_df['text_processed'][0:5]

0    [washington, reuter, long, frustrat, backer, s...
1    [washington, reuter, u, hous, repres, move, to...
2    [new, york, reuter, investor, look, u, republi...
3    [noth, terrorist, got, money, hous, govern, ur...
4    [singapor, reuter, found, dean, promin, singap...
Name: text_processed, dtype: object

In [27]:
new_list = []

for l in df['text_processed']:
    new_list += l

In [28]:
fdist = FreqDist(new_list)
fdist.most_common(2)

[(' ', 18338421), ('e', 10536016)]

In [10]:
most_freq=fdist.most_common(5000)

most_freq

[]

FreqDist({})

In [20]:
most_freq=fdist.most_common(5000)

most_freq

[("'", 36773998),
 (',', 18342802),
 (' ', 18342802),
 ('e', 8294698),
 ('t', 7550104),
 ('a', 6966327),
 ('o', 6171867),
 ('i', 6100658),
 ('r', 5489729),
 ('n', 5260133),
 ('h', 3990640),
 ('s', 3918353),
 ('l', 3173047),
 ('d', 2749929),
 ('c', 2727246),
 ('u', 2512950),
 ('m', 2259439),
 ('p', 2025712),
 ('f', 1759076),
 ('w', 1549402),
 ('b', 1307537),
 ('g', 1216599),
 ('v', 859342),
 ('y', 728330),
 ('k', 658121),
 ('j', 191561),
 ('x', 160708),
 ('z', 74268),
 ('q', 70768),
 ('[', 44898),
 (']', 44898),
 ('é', 48),
 ('á', 21),
 ('ñ', 11),
 ('ā', 10),
 ('ó', 9),
 ('í', 6),
 ('ç', 5),
 ('à', 4),
 ('ō', 2),
 ('ú', 2),
 ('ü', 2),
 ('â', 1),
 ('ö', 1),
 ('ê', 1),
 ('ツ', 1),
 ('ô', 1)]